In [2]:
2 + 2

4

In [1]:
2 + 2

4

In [3]:
print("hello world")

hello world

In [4]:
book_title = "Harry Potter"

In [5]:
book_title

'Harry Potter'

In [6]:
print(book_title)

Harry Potter

In [7]:
year = 1997
print(year)

1997

In [8]:
price = 19.95

In [9]:
type(price)

float

In [10]:
year = 1997
price = 19.95
title = "Harry Potter"
not_a_number = "145"

In [11]:
year + title

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
year + not_a_number

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
6 * 7

42

In [14]:
8 - 9

-1

In [15]:
3 > 4

False

In [16]:
9 > 6

True

In [17]:
11 == 11

True

In [18]:
5 != 7

True

In [19]:
numbers = [1, 2, 3]

In [20]:
for number in numbers:
    print(number)

1
2
3

In [21]:
for käse in numbers:
    print(käse)

1
2
3

In [22]:
for number in numbers:
    double = number * 2
    print(double)

2
4
6

In [23]:
for number in numbers:
    double = number / 2
    print(double)

0.5
1.0
1.5

In [24]:
for number in numbers:
    double = number * 2
    print(double)
print("Zahlen wurden multipliziert")

2
4
6
Zahlen wurden multipliziert

In [25]:
len(numbers)

3

In [26]:
authors = ["Darwin", "Hawking", "Feynman", "Jemison"]

In [27]:
len(authors)

4

In [28]:
authors[3]

'Jemison'

In [29]:
authors[0]

'Darwin'

In [30]:
authors[-1]

'Jemison'

In [31]:
authors[-2]

'Feynman'

In [32]:
title[4]

'y'

In [33]:
title

'Harry Potter'

In [34]:
title[0:4]

'Harr'

In [35]:
title[0:5]

'Harry'

In [36]:
title[5:]

' Potter'

In [38]:
authors_and_books = {"Jemison" : "Wind" , "Darwin" : "Species" , "Hawking" : "Universe"}

In [39]:
authors_and_books["Jemison"]

'Wind'

In [40]:
authors_and_books["Jemison"] = "Heaven"

In [41]:
authors_and_books["Jemison"]

'Heaven'

In [43]:
authors = ["Darwin", "Hawking", "Feynman", "Jemison"]
authors_and_books = {"Jemison" : "Wind" , "Darwin" : "Species" , "Hawking" : "Universe", "cool_AUTHORS" : authors}
authors_and_books["cool_AUTHORS"][1]

'Hawking'

In [45]:
temp = 20
if temp > 15:
    print("it's warm")

it's warm

In [46]:
temp = 20
if temp > 15:
    print("it's warm")
elif temp < 5:
    print("it's cold")

it's warm

In [47]:
temp = 4
if temp > 15:
    print("it's warm")
elif temp < 5:
    print("it's cold")

it's cold

In [52]:
temp = 15
if temp >= 15:
    print("it's warm")
elif temp < 5:
    print("it's cold")

it's warm

# Wetterbericht
der folgende Code erklärt das **Wetter**

In [55]:
temp = 11
if temp >= 15:
    print("it's warm")
elif temp < 5:
    print("it's cold")
else:
    print("it's mild")

it's mild

In [62]:
# das funktioniert so nicht
countrycode = XAAT
if countrycode = Österreich:
    print(XAAT)

SyntaxError: invalid syntax (<ipython-input-62-5152350f2f5e>, line 3)

In [1]:
number_string = "123"
type(number_string)

str

In [2]:
number_int = int(number_string)
type(number_int)
str(number_int)

'123'

In [3]:
my_list = 5
type(my_list)

int

In [5]:
my_list = [1, 2, 3]
type(my_list)

list

In [6]:
author = "Darwin"

In [7]:
author.upper()

'DARWIN'

In [8]:
author.replace("a", "XXX")

'DXXXrwin'

In [9]:
author

'Darwin'

In [10]:
countrycode = XAAT
if countrycode = Österreich:
    countrycode.replace(XAAT)

SyntaxError: invalid syntax (<ipython-input-10-427243614f30>, line 2)